@import "variable.styl"

html,body
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  line-height 1
  background-color $color-background
  color $color-text
  -webkit-tap-highlight-color transparent